<!-- 购物车页面 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>购物车</title>


    <script src="/js/plugins/vue.global.js"></script>
    <script src="/js/api/api.js"></script>

    <link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/css/zui.min.css">
    <link rel="stylesheet" href="/css/zui-theme.css">
    <script src="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/js/zui.min.js"></script>

    <link rel="stylesheet" href="../product_details/details.css">
    <link rel="stylesheet" href="/admin/admin/shop_list.css">
    <link rel="stylesheet" href="./shop_car.css">
</head>

<body>

    <div id="app" class="main_css">
        <div class="tap">

            <div class="shortcut">
                <ul class="fl">
                    <li class="f-item">阿尼尔欢迎您！</li>
                    <li class="f-item">请<a href="./user/login.html" target="_blank">登录</a>　|&nbsp;&nbsp;<span><a
                                href="./user/register.html" target="_blank">免费注册</a></span></li>
                </ul>
                <div class="fr-list">
                    <ul class="types">
                        <li class="f-item"><span>我的订单&nbsp;&nbsp;</span></li>
                        <li class="f-item">|&nbsp;&nbsp;<span><a href="cart.html"
                                    target="_blank">我的购物车&nbsp;&nbsp;</a></span></li>
                        <li class="f-item">|&nbsp;&nbsp;<span> <a
                                    href="./admin/login/login.html">商家后台&nbsp;&nbsp;</a></span></li>
                        <li class="f-item"><span>|&nbsp;&nbsp;品牌故事&nbsp;&nbsp;</span></li>
                        <li class="f-item"><span>|&nbsp;&nbsp;个人中心</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nav-logo">
            <div class="nav">
                <div class="logo">
                    <img src="/img/UB8F]4149_9WY9669M0_~U9.png" alt="logo">
                </div>
                <div class="search">
                    <div class="input">
                        <input type="search" class="form-control search-input">
                    </div>
                    <button class="btn" type="button">搜索</button>
                </div>
            </div>
        </div>

        <div class="details_list">
            <div class="internal" style="width: 80%;">

                <!-- 顶部标题部分 -->
                <div class="shop_list_title">
                    <p class="tile_text">商品名称</p>
                    <p class="tile_text">价格</p>
                    <p class="tile_text">数量</p>
                    <p class="tile_text">操作</p>
                </div>

                <div v-for="list in shop_list_data " class="shop_for_list">
                    <div class="image_and_title">
                        <img class="image_css" :src="this.host+'/static/image/'+list.myimage" alt="">
                        <p class="shop_list_text">{{list.name}}</p>
                    </div>

                    <div class="image_and_title">
                        <p class="shop_list_text" style="margin-left: 33px;">￥ {{list.price}}</p>
                    </div>

                    <div class="image_and_title">
                        <p class="shop_list_text" style="margin-left: 22px;">{{list.num}}</p>
                    </div>

                    <div class="image_and_title">
                        <div class="shop_list_text">
                            <div class="btn-group">
                                <button class="btn  btn-primary" :value="list.car_id" @click="remove_shop">删除</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div style="    height: 60px;width: 100%;"></div>
        </div>

        <div class="buy_button">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                style="width: 200px; height: 50px; background-color: rgb(0, 0, 0);" type="button">立即下单</button>
        </div>

        <!-- 对话框HTML -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">关闭</span></button>
                        <h4 class="modal-title">请输入收货地址</h4>
                    </div>
                    <div class="modal-body">
                        <p>请输入收货地址</p>
                        <div class="input-control has-icon-left">
                            <input v-model="create_order_data.courier_name" id="inputAccountExample1" type="text"
                                class="form-control" placeholder="姓名： ">
                            <label for="inputAccountExample1" class="input-control-icon-left"><i
                                    class="icon icon-user "></i></label>
                        </div>
                        <div class="input-control has-icon-left">
                            <input v-model="create_order_data.courier_phone" id="inputAccountExample1" type="number"
                                class="form-control" placeholder="电话： ">
                            <label for="inputAccountExample1" class="input-control-icon-left"><i
                                    class="icon icon-user "></i></label>
                        </div>
                        <div class="input-control has-icon-left">
                            <input v-model="create_order_data.courier_place" id="inputAccountExample1" type="text"
                                class="form-control" placeholder="收货地址">
                            <label for="inputAccountExample1" class="input-control-icon-left"><i
                                    class="icon icon-user "></i></label>
                        </div>
                    </div>
                    <p style="margin-left: 20px;">请选择收货方式</p>
                    <div style="display: flex;flex-direction: row;align-items: center;justify-content: space-around;">
                        <label class="radio-inline">
                            <input type="radio" @click="click_harvest_type" id="送货上门" name="radioOptionsExample"> 送货上门
                        </label>
                        <label class="radio-inline">
                            <input type="radio" @click="click_harvest_type" id="次日达" name="radioOptionsExample"> 次日达
                        </label>
                        <label class="radio-inline">
                            <input type="radio" @click="click_harvest_type" id="站点签收" name="radioOptionsExample"> 站点签收
                        </label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="click_create_order">确认</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="./shop_car.js" type="text/javascript"></script>

</html>