<!DOCTYPE html>
<html>

<head>
    <script src="./js/plugins/vue.global.js"></script>
    <script src="./js/plugins/jquery/jquery.min.js"></script>
    <script src="./model/lunbotu/lunbotu.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>阿尼尔官网</title>
    <link rel="icon" href="./img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/user/product_details/details.css" />

    <link rel="stylesheet" type="text/css" href="./css/all.css" />
    <link rel="stylesheet" type="text/css" href="./css/pages-shop.css" />
    <link rel="stylesheet" type="text/css" href="./model/lunbotu/test.css" />

    <link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/css/zui.min.css">
    <link rel="stylesheet" href="/css/zui-theme.css">
    <script src="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/lib/jquery/jquery.js"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/zui/1.10.0/js/zui.min.js"></script>

    <script src="./js/api/api.js"></script>
</head>

<body>
    <!-- 头部栏位 -->
    <!--页面顶部-->
    <div id="app">
        <!--顶部-->
        <div class="tap">
            <div class="shortcut">
                <ul class="fl">
                    <li class="f-item">阿尼尔欢迎您！</li>
                    <li class="f-item">请<a href="./user/login.html" target="_blank">登录</a>　|&nbsp;&nbsp;<span><a
                                href="./user/register.html" target="_blank">免费注册</a></span></li>
                </ul>
                <div class="fr-list">
                    <ul class="types">
                        <li class="f-item">
                            <a href="/user/Personal Center/my_order.html" target="_blank">我的订单&nbsp;&nbsp;</a>
                            </span>
                        </li>
                        <li class="f-item">&nbsp;&nbsp;<span>
                                <a href="/user/Personal Center/shop_car.html" target="_blank">我的购物车&nbsp;&nbsp;</a>
                            </span></li>
                        <li class="f-item">&nbsp;&nbsp;<span> <a
                                    href="./admin/login/login.html">商家后台&nbsp;&nbsp;</a></span></li>
                        <li class="f-item"><span>&nbsp;&nbsp;个人中心</span></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="nav-logo">
            <div class="nav">
                <div class="logo">
                    <img src="/img//Logo.png" alt="logo">
                </div>
            </div>
        </div>

        <div class="py-container shop">
            <div class="head-nav" id="headnav-fixed">
                <div class="sui-navbar">
                    <div class="navbar-inner">
                        <ul class="sui-nav ">
                            <li><a :id="1" @click="click_tab" data-toggle="tab">首页</a></li>
                            <li><a :id="2" @click="click_tab" data-toggle="tab">彩妆</a></li>
                            <li><a :id="3" @click="click_tab" data-toggle="tab">底妆</a></li>
                            <li><a :id="4" @click="click_tab" data-toggle="tab">香水</a></li>
                            <li><a :id="5" @click="click_tab" data-toggle="tab">品牌故事</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div v-if="now_id == 1">
                <div class="carousel">
                    <!--图片背景-->
                    <div class="content">
                        <ul v-for="item in swiper_data">
                            <li>
                                <img :src="item.image" alt="">
                            </li>
                        </ul>
                    </div>
                    <!--左移、右移图标-->
                    <div class="pos">
                        <a href="" class=" left"><img src="./img/arrow-left.png" alt=""></a>
                        <a href="" class=" right"><img src="./img/arrow-right.png" alt=""></a>
                    </div>
                    <!--指示器-->
                    <div class="dot">
                        <ul>
                            <li class="active">
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                            <li>
                                <a href=""></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="default-list">
                    <div class="title">
                        <h1>Must have+</h1>
                        <h2>热销商品</h2>
                    </div>
                    <div class="goods-list">
                        <ul class="yui3-g" id="goods-list">
                            <li v-for="list in hot_shop_list" class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div :id="list.id" @click="click_detail">
                                        <div class="p-img"><img :src="this.host+'/static/image/'+list.myimage[0]"
                                                alt=''>
                                        </div>
                                        <div class="price"><strong><em>¥</em> <i>{{list.price}}</i></strong></div>
                                        <div class="attr"><em>{{list.name}}</em></div>
                                    </div>
                                    <div class="operate">
                                        <a class="sui-btn btn-bordered btn-danger" :id="list.id"
                                            @click="clicked_shopcar">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="default-list">
                    <div class="title">
                        <h1>All Best+</h1>
                        <h2>产品上新</h2>
                    </div>
                    <div class="goods-list">
                        <ul class="yui3-g" id="goods-list">
                            <li v-for="list in new_shop_list" class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div :id="list.id" @click="click_detail">
                                        <div class="p-img"><img :src="this.host+'/static/image/'+list.myimage[0]"
                                                alt=''>
                                        </div>
                                        <div class="price"><strong><em>¥</em> <i>{{list.price}}</i></strong></div>
                                        <div class="attr"><em>{{list.name}}</em></div>
                                    </div>
                                    <div class="operate">
                                        <a class="sui-btn btn-bordered btn-danger" :id="list.id" :value="list.id"
                                            @click="clicked_shopcar">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="now_id == 2 ||now_id == 3|| now_id == 4">
            <div class="default-list">
                <div class="goods-list">
                    <ul class="yui3-g" id="goods-list">
                        <li v-for="list in son_shop_list" class="yui3-u-1-4">
                            <div class="list-wrap">
                                <div :id="list.id" @click="click_detail">
                                    <div class="p-img"><img :src="this.host+'/static/image/'+list.myimage[0]" alt=''>
                                    </div>
                                    <div class="price"><strong><em>¥</em> <i>{{list.price}}</i></strong></div>
                                    <div class="attr"><em>{{list.name}}</em></div>
                                </div>
                                <div class="operate">
                                    <a class="sui-btn btn-bordered btn-danger" :id="list.id"
                                        @click="clicked_shopcar">加入购物车</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="./index.js"></script>

</html>