.tap {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: enter;
  justify-content: center;
  background-color: #eaeaea;
}
.shortcut {
  height: 30px;
  width: 88%;
  display: flex;
  flex-direction: row;
  line-height: 30px;
  vertical-align: middle;
  justify-content: space-between;
  /* background-color: blueviolet; */
}
ul {
  list-style-type: none;
}
ul li {
  color: #333333;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: rgb(60, 201, 201);
}
ul.fl {
  display: flex;
  flex-direction: row;
}

.fr-list {
  height: 30px;
  width: 41%;

  /* background-color: aquamarine; */
}
.types {
  display: flex;
  flex-direction: row;
}

.nav-logo {
  height: 105px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.nav {
  height: 105px;
  width: 83%;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* background-color: aqua; */
}
.search {
  display: flex;
  justify-content: flex-end;
  margin-left: 55%;
}
.input {
  height: 32px;
  width: 502px;
}
.btn {
  height: 32px;
  width: 70px;
}
.swi-bg {
  height: 1000px;
  width: 100%;
  display: flex;

justify-content: center;
  background-color: #e8ded8;
}
.grounding{
height: 800px;
width: 60%;
margin-top: 15px;
border-radius: 25px;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: row;

}
.carousel-inner{
height: 500px;
width: 500px;
margin-top: 15px;
margin-left: 15px;
border-radius: 20px;
}
.ground-left{
  height: 600px;
  width: 520px;
  /* background-color: aquamarine; */
}

.ground-right{
height: 600px;
width: 520px;
margin-left: 25px;
/* background-color: bisque; */
}

/* .btn1{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  
}
.btn1:hover{
  color: #ff5000;
  border-color: #ff5000;
  background-color: #fff7f3;
} */

.btn2{
  font-size: 20px;
  height: 40px;
  width: 40px;
}
.inpu{
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.btn3{
height: 50px;
width: 200px;
background-color: #ffc000;
border: 0;
border-radius: 30px;
}
.car-btn{
  font-size: large;
  color: white;
}